
  
<!--This is accessed from each books' show page-->
<!--It should have the information previously saved showing-->
<h2><%= @book.title %> </h2>
	<div class="edit-book-form">

		<h1>Edit Book</h1>

		<%= simple_form_for @book, :html => { :multipart => true } do |f| %>

			<%= f.input :title, label: "Book Title" %>
			<%= f.input :author %>
            <%= f.input :links %>

			<%= f.select :category_id, @categories %>
			
			<%= f.button :submit, :class => "btn-custom2" %>
		<% end %>

	</div>