
<%=link_to "Back", root_path %>
<h2><%= @book.title %> </h2>
<h3><%= @book.author %> </h2>
<h4>Category: <%=@book.category.name %></h4>
<p><%= @book.description %> </p>
<h4><%= @book.links %></h4>
<% if user_signed_in? %>
    <% if @book.user_id = current_user.id %>
        <div class="btn btn-custom">
        <%= link_to 'Edit', edit_book_path(@book),  :class => "btn" %>
        </div>
        <div class="btn btn-custom">
        <%= link_to 'Delete', book_path(@book), method: :destroy, data: {confirm: "Are you sure?" }, :class =>"btn" %>
        </div>
        <% end %>
<% end %>
